<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body bgcolor=#dwfadw>
<nav> <font color="red" size="4"> <a href="{{ url_for('database') }}"> Show data</a> </font></nav> <br> <br>

<h1> <font color="red" size="12"> <a href="{{ url_for('logout') }}"> Logout</a> </font>  </h1> <br> <br>

<center> <font color="black" size="6">Click  </font> <a href="https://www.linkedin.com/in/aafaq-altaf-a953451a6/"> <font color="red" size="6"> My Profile</font></a></center> <br> <br>
<center> <font color="black" size="6"> Click to use Machine Learning App  </font> <a href="https://iriss2.herokuapp.com/"> <font color="red" size="6"> Here</font></a></center>

<br> <br> <br> <br> <br> <br> <br> <br> 


<center> <font color="black" size="6" >   <footer> @Aafaq Altaf</footer>  </font> </center>


</body>
</html>
