<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor='#dwfadw'>
<font color="red" size="2px">

    Enter password lenght between 5-10 <br>

 </font>

<form method=POST>

    <fieldset>

        <legend> RESET </legend>


    <dir>
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}

    {{ form.password.label }} {{ form.password }} <br> <br>
     {{ form.confirm.label }} {{ form.confirm }}  <br> <br>

    {{ form.submit() }} <br> <br>

  </dir>






 </fieldset>
</form>



</body>
</html>